<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#"> <img src="/assets/ic_directions_car.svg" width="30" height="30" class="d-inline-block align-top" alt="">Dealer Recall Search</a>
</nav>

<md-card>
  <p-dropdown [options]="years" [(ngModel)]="selectedYear" placeholder="Select A Year" [style]="{'width':'30%'}"></p-dropdown>
  <p-dropdown [options]="makes" [(ngModel)]="selectedMake" placeholder="Select A Make" [style]="{'width':'30%'}"></p-dropdown>
  <br>
  <br>
  <div align="center">
    <p-orderList [value]="sortedVehicles" (onSelectionChange)= "setSelectedVehicle($event)" [listStyle]="{'height':'250px'}" [responsive]="true" 
      header="{{selectedYear}} {{selectedMake}} Model List"filter="filter" filterBy="Model_Name" filterPlaceholder="Filter By Model" dragdrop="false">
      <ng-template let-vehicle pTemplate="item">
          <div class="ui-helper-clearfix">
              <div align ="left">{{selectedMake}} - {{vehicle.Model_Name}}</div>
          </div>
      </ng-template>
    </p-orderList>
  </div>
</md-card>

<br>

<md-card>
  <p-dataTable [value]="recalls" resizableColumns="true">
    <p-header>{{recallHeader}}</p-header>
    <p-column field="NHTSACampaignNumber" header="NHTSA Campaign #" [style]="{'width':'20%'}"></p-column>
    <p-column field="Component" header="Component"></p-column>
  </p-dataTable>
</md-card>
